{% extends 'base.html' %}

{% block title %}로그인{% endblock %}

{% block contents %}
    <form method="POST">
        {% csrf_token %}
        <div style="margin-left:40px;">
            <h1>로그인</h1>
            <table>
                <tr><td>아이디</td></tr>
                <tr>
                    <td style="padding: 10px;"><input type="text" placeholder="아이디" name="u_id"> </td>
                </tr>
                <tr><td>비밀번호</td></tr>
                <tr>
                    <td style="padding: 10px;"><input type="password" placeholder="비밀번호" name="u_pw"> </td>
                </tr>
                <tr>
                    <td style="padding: 10px;">
                        <button type="submit" class="btn btn-primary">로그인</button>
                    </td>
                </tr>
            </table>
        </div>

    </form>
{% endblock %}