<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
    <div style="margin:20px">
        <strong style="font-size:xx-large; margin-left:80px; cursor:pointer;" onclick="location.href='/'"> Home</strong>
        <a style="margin-left:20px" href ="{% url 'helloworld'%}">helloworld</a>
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-primary pull-right" style="margin-right:80px;"onclick="location.href='/accounts/sign_out'">로그아웃</button>
            <button class="btn btn-info pull-right" style="margin-right:20px;"onclick="location.href='accounts/my_page'">
                {{ user.last_name }}님 </button>
        {% else %}
             <button type="button" class="btn btn-primary pull-right" style="margin-right:80px;"onclick="location.href='/accounts/sign_in'">로그인</button>
             <button type="button" class="btn btn-primary pull-right" style="margin-right:20px;"onclick="location.href='/accounts/sign_up'">회원가입</button>
        {% endif %}
    </div>
    <hr>
    <div style="margin:50px 100px 50px 100px;">
        {% block contents %}
        {% endblock %}

    </div>

</body>
</html> 
